* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(12, 1, 2);
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Benguiat";
  src: url(assets/Benguiat\ Bold.ttf);
}

section {
  padding: 4vw 8vw 8vw;

  h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  gap: 12px;
  cursor: pointer;
  transition: 0.1s;
}

button:hover {
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 4vw;
  position: absolute;
  z-index: 10;

  h2 {
    color: rgba(255, 255, 255, 0.8);
  }

  img {
    height: 24px;
  }
}

.hero {
  background-image: url("assets/bg-hero-1.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw 14vw;
  position: relative;

  .esquerda,
  .direita {
    width: 30%;
    z-index: 9;
  }

  .esquerda {
    h1 {
      font-family: "Benguiat", sans-serif;
      font-size: 4vw;
      color: rgb(255, 255, 255);
    }

    h3 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.9vw;
      font-weight: 500;
      letter-spacing: 0.6vw;
    }
  }

  .direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 28px;

    p {
      text-align: end;
      font-size: 2vw;
    }
  }
}

.hero::before {
  content: "";
  width: 100%;
  height: 100vh;
  background:
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(12, 1, 2, 0) 0%,
      rgba(12, 1, 2, 0.4) 100%
    ),
    linear-gradient(180deg, rgba(12, 1, 2, 0) 70.74%, #0c0102 100%);
  position: absolute;
  left: 0;
  top: 0;
}

.bg-monstro {
  background-image: url(assets/bg-monstro.webp);
  background-position: bottom;
  background-size: cover;
  position: relative;
}

.bg-monstro::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(12, 1, 2, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.secaoCidade {
  position: inherit;
  z-index: 2;

  .header-cidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  .cidades {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cidade {
      width: 32%;
      background-image: url(assets/sidney.webp);
      aspect-ratio: 16/9;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 12px;
      position: relative;

      h3,
      p {
        z-index: 9;
      }

      h3 {
        font-weight: 400;
      }

      p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.75);
      }
    }

    .cidade:nth-child(2) {
      background-image: url(assets/mexico.webp);
    }

    .cidade:nth-child(3) {
      background-image: url(assets/yas-island.webp);
    }

    .cidade::before {
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 63.64%,
        rgba(0, 0, 0, 0.8) 100%
      );
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
    }
  }
}

.secaoDepoimentos {
  position: inherit;
  z-index: 2;
  .logoEmpresas {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 86px;
  }

  .depoimentos {
    display: flex;
    justify-content: space-between;

    .depoimento {
      width: 28%;

      img {
        margin-bottom: 16px;
      }
    }
  }
}

.secaoAgradecimento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    width: 100%;
    .listaBase {
      display: flex;
      margin-top: 48px;
      justify-content: space-between;
    }
  }

  .listaRepeticao {
    display: none;
  }
}

footer {
  width: 100%;
  height: 40vw;
  background-image: url(assets/bg-footer.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;

  .conteudoFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    margin-bottom: 6vw;
    z-index: 5;

    .logoFooter {
      width: 30%;

      h3 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.2vw;
        font-weight: 500;
        letter-spacing: 0.6vw;
      }

      h2 {
        font-family: "Benguiat", sans-serif;
        font-size: 3.2vw;
        color: rgb(255, 255, 255);
      }
    }

    .linksFooter {
      flex: 1;
      display: flex;
      justify-content: end;
      align-items: end;
      gap: 5vw;

      h3 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 12px;
      }

      .social {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icons {
          display: flex;
          gap: 12px;
        }

        .icons > *:hover {
          transition: 0.2s;
          transform: scale(1.2);
        }
      }

      .midia {
        img {
          width: 8vw;
        }
      }

      .institucional {
        li:hover {
          transition: 0.2s;
          color: rgb(255, 255, 255);
          text-decoration: underline;
        }
      }
    }
  }

  .logosFooter {
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 4vw;
  }

  .textoInfinito {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    mix-blend-mode: color-dodge;
    z-index: 5;

    h3 {
      color: rgb(200, 200, 200);
      font-family: "Benguiat", sans-serif;
      font-size: 10vw;
      animation: textoInfinito 10s linear infinite;
      padding-right: 156px;
    }
  }
}

footer::before {
  content: "";
  background: radial-gradient(
    71.21% 71.21% at 68.23% 28.79%,
    rgba(12, 1, 2, 0) 0%,
    rgba(12, 1, 2, 0.8) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1400px) {
  .secaoCidade .cidades .cidade {
    flex-direction: column;
    justify-content: end;
    align-items: start;
  }
}

@media (max-width: 1200px) {
  .secaoCidade .header-cidades h2,
  .secaoAgradecimento h2 {
    font-size: 28px;
  }

  .secaoAgradecimento {
    padding: 4vw 4vw 8vw;

    h2 {
      padding: 0 4vw;
    }
  }

  footer {
    .linksFooter .social .icons a img {
      height: 28px;
    }

    .logosFooter img {
      height: 28px;
    }
  }
}

@media (max-width: 1000px) {
  .secaoAgradecimento {
    padding: 4vw 0 8vw;

    h2 {
      padding: 0 4vw;
      margin-bottom: 48px;
    }

    ul {
      display: flex;
      width: max-content;
      flex-wrap: nowrap;

      .listaBase,
      .listaRepeticao {
        display: flex;
        gap: 80px;
        padding-right: 80px;
        animation: textoInfinito 15s linear infinite;
      }
    }
  }
}

@keyframes textoInfinito {
  100% {
    transform: translateX(-100%);
  }
}
